wikipedia==1.4.0
pyjokes==0.6.0
pyautogui==0.9.54
pywhatkit==5.3.0
google-api-python-client==2.118.0
nltk==3.8.1
python-Levenshtein==0.23.0
fuzzywuzzy==0.18.0
SpeechRecognition==3.10.0
pyttsx3==2.90
PyAudio==0.2.13
